body {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

.card:hover {
  box-shadow: 0 0 21px 4px #dfeaf5;
  transform: scale(1.05, 1.05);
  transition: transform 1000ms ease-out;
}

.teacher-card:hover {
  transform: scale(1.01, 1.01);
  transition: transform 500ms ease-out;
}
