body {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

.card:hover {
  box-shadow: 0 0 15px 2px #dfeaf5;
  transform: scale(1.03, 1.03);
  transition: box-shadow 500ms ease-in-out, transform 500ms ease-in-out;
}

.video iframe {
  border-radius: 20px;
  width: 100%;
}

#conveythis-wrapper {
  display: none !important;
}
